{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Sid</th>
                <td>{{ order.sid }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ order.userId }}</td>
            </tr>
            <tr>
                <th>SubmissionTime</th>
                <td>{{ order.submissionTime ? order.submissionTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TotalSum</th>
                <td>{{ order.totalSum }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">back to list</a>

    <a href="{{ path('order_edit', {'sid': order.sid}) }}">edit</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
